/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgba(0,0,0,0.7);
}
body {
    width: 100%;
    height: 100%;
    background: cadetblue;
}
.container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* card */
.card {
    width: 400px;
    height: 600px;
    background: rgb(164, 217, 219);
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.card-header {
    width: 100%;
    height: 90px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 30px 30px 0 0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}
.card-body {
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.white-rounded {
    width: 250px;
    font-size: 1.3em;
    margin: 15px 0;
    padding: 10px 15px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
.card-footer {
    padding: 10px 20px;
}
.card-footer p {
    color: rgba(0,0,0,0.5);
    font-size: .7em;
}
.card-footer p:first-child {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: .8em;
}